# Ignore the .env file that stores environment variables
.env

# Ignore the credentials.json file that stores sensitive credentials
credentials.json

# Python virtual environment
venv/
__pycache__/

# MacOS system files
.DS_Store

# VS Code settings
.vscode/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*